@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 225, 15%, 10%;
    --foreground: 225, 15.38%, 15.29%;
 
    --card: 225, 15%, 10%;
    --card-foreground: 225, 15.38%, 15.29%;
 
    --popover: 225, 15%, 10%;
    --popover-foreground: 225, 15.38%, 15.29%;
 
    --primary: 225, 15.38%, 15.29%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --primary-green: 0, 185, 174;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 225, 15.38%, 15.29%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 225, 15.38%, 15.29%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 225, 15.38%, 15.29%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-white;
  }
}